.footer-section {
  display: flex;
  justify-content: flex-end;
  background-color: #FFF;
  border-top: 1px solid #E3EAF3;
  padding: 20px 30px 20px 20px;

  .btn {
    display: inline-flex;
    padding: 9px 14px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
  }

  .btn-primary {
    background: #6C70DC;
    color: #FFF;
  }

  .btn-back {
    background: #E3EAF3;
    color: #8F9CA7;
  }
}