.container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

.bg-shape {
  background: linear-gradient(135deg, #8E53E4 0%, #4B22B9 100%);
  display: flex;
  align-items: center;
  height: 100vh;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

