.container {
  width: 100%;
  margin: 0 auto;
}

.bg-shape {
  background: linear-gradient(135deg, #8E53E4 0%, #4B22B9 100%);
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.position-relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

// Resabonsive styles

@media screen and (min-width: 1023px) {
  .bg-shape {
    height: 100vh;
  }

  .h-100 {
    height: auto;
  }

  .container {
    max-width: 1160px;
  }
}

@media screen and (max-width: 1024px) {
  .h-100 {
    height: 100vh;
  }

  .bg-shape {
    height: 100vh;
  }

  .container {
    max-width: 850px;
  }
}

@media screen and (max-width: 768px) {
  .h-100 {
    height: 100vh;
  }

  .bg-shape {
    height: auto;
    position: relative;
  }

  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 480px) {
  .bg-shape {
    position: relative;
    height: 100%;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .container {
    max-width: 400px;
  }
}