main {
  section {
    .confirm-detailes {
      .user-form {
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;

        form {
          display: grid;

          .form-group {
            display: flex;
            flex-direction: column;

            label {
              margin-bottom: 10px;

              span {
                color: red;
              }
            }

            input {
              border: 1px solid #ccc;
              padding: 14px;
            }

            input:focus {
              outline: none;
            }
          }
        }
      }
    }

    .modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      z-index: -1;
      opacity: 1;
    }

    .modal-content {
      position: relative;
      transform: translate(-0%, 130%);
      background-color: #fefefe;
      margin: 0% auto;
      border: 1px solid #888;
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 8px;

      .modal-body {
        font-weight: 500;
        text-align: center;
      }
    }

    .close {
      position: absolute;
      right: 2%;
      top: 4%;
      color: #aaa;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.6s ease;
    }

    .user-info {
      background-color: #fff;

      h1 {
        font-size: 18px;
        font-weight: 400;
        color: #6C70DC;
      }

      h1:not(:first-child) {
        padding-top: 20px;
      }

      span {
        color: #000;
        padding-left: 10px;
      }

      p {
        color: #4FBF65;
        padding-left: 10px;
      }
    }
  }
}

// Responsive styles

@media screen and (min-width: 1023px) {
  .confirm-detailes {
    form {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      .form-group:nth-child(3),
      .form-group:nth-child(4) {
        margin-top: 1.5rem;
      }
    }
  }

  .modal-content {
    width: 40%;

    .modal-body {
      font-size: 1.6rem;
    }
  }

  .user-info {
    margin-top: 34px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 30px;
    padding-left: 24px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 1023px) {
  .confirm-detailes {
    form {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      .form-group:nth-child(3),
      .form-group:nth-child(4) {
        margin-top: 1.5rem;
      }
    }
  }

  .modal-content {
    width: 60%;

    .modal-body {
      font-size: 1.5rem;
    }
  }

  .user-info {
    margin-top: 34px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 30px;
    padding-left: 24px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .confirm-detailes {
    form {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      .form-group:nth-child(3),
      .form-group:nth-child(4) {
        margin-top: 1.5rem;
      }
    }

  }

  .modal-content {
    width: 80%;

    .modal-body {
      font-size: 1.4rem;
    }

  }

  .user-info {
    margin-top: 34px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 30px;
    padding-left: 24px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .confirm-detailes {
    form {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;

      .form-group:nth-child(3),
      .form-group:nth-child(4) {
        margin-top: 0rem;
      }
    }
  }

  .modal-content {
    width: 95%;

    .modal-body {
      font-size: 1.3rem;
    }
  }

  .user-info {
    margin-top: 14px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 30px;
    padding-left: 24px;
    padding-bottom: 30px;
    margin-bottom: 14px;
  }
}