main {
  section {
    .confirm-detailes {
      .user-form {
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;

          .form-group:nth-child(3),
          .form-group:nth-child(4) {
            margin-top: 1.5rem;
          }

          .form-group {
            display: flex;
            flex-direction: column;

            label {
              margin-bottom: 10px;

              span {
                color: red;
              }
            }

            input {
              border: 1px solid #ccc;
              padding: 14px;
            }

            input:focus {
              outline: none;
            }
          }
        }
      }
    }
    .user-info {
      background-color: #fff;
      margin-top: 34px;
      margin-left: 24px;
      margin-right: 24px;
      padding-top: 30px;
      padding-left: 24px;
      padding-bottom: 30px;
    }
  }
}