.calendar-sections {
  display: grid;
  gap: 22px;
  align-items: baseline;
}

#weekdays {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 26px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.weekday {
  flex: 1;
  text-align: center;
  color: #8f9ca7c9;
}

#days-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  background: #fff;
}

.day {
  flex: 1 0 14%;
  margin: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  cursor: pointer;
}

#calendar-container {
  text-align: center;
  margin-top: 20px;
}

#calendar-controls {
  text-align: center;

  #prev-month,
  #next-month {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
  }
}

#days-container {
  display: grid;

  .selected-day {
    background-color: #6C70DC;
    color: #fff !important;
  }
}

.selected-time {
  background-color: #20b320ba !important;
  color: #fff;
}

#days-container button {
  padding: 10px;
  background-color: #8f9ca72b;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #8f9ca7c9;
}

.time-section {
  h1 {
    text-align: center;
    font-weight: 400;
  }

  .time-item {
    height: 377px;
    background-color: #fff;
    margin-top: 12px;

    h1 {
      padding-top: 24px;
      padding-bottom: 16px;
      color: #6C70DC;
      font-weight: 500;
      text-align: center;
      border-bottom: 1px solid #ccc;
    }
  }
}



#time-slots {
  display: grid !important;
  gap: 14px;
  margin-top: 14px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}

#time-slots button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin: 0px !important;
  padding: 10px 25px;
  background-color: #8f9ca72b;
  border: none;
  cursor: pointer;

  span {
    font-size: 18px;
  }
}

.special-day {
  color: #000 !important;
}

button {
  margin: 5px;
}

// Resbonsive styles

@media screen and (min-width: 770px) {
  #days-container {
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
  }


  #time-slots {
    grid-template-columns: repeat(3, 1fr);
  }

  .calendar-sections {
    grid-template-columns: repeat(2, 1fr);

    .date-section {
      width: 420px;
      margin-left: 18px;
    }

    .time-section {
      margin-right: 18px;
    }
  }
}

@media screen and (max-width: 770px) {
  #days-container {
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
  }

  #time-slots {
    grid-template-columns: repeat(3, 1fr);
  }

  .calendar-sections {
    grid-template-columns: repeat(1, 1fr);

    .date-section {
      margin-left: 18px;
      margin-right: 18px;
    }

    .time-section {
      margin-left: 18px;
      margin-right: 18px;
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 480px) {
  #days-container {
    grid-template-columns: repeat(6, 1fr);
    padding: 5px;
  }

  #time-slots {
    grid-template-columns: repeat(2, 1fr);
  }

  .calendar-sections {
    .date-section {
      margin-right: 8px;
      margin-left: 8px;
    }

    .time-section {
      margin-right: 8px;
      margin-left: 8px;
      margin-bottom: 7px;
    }
  }
}